<mat-grid-list cols="1" rowHeight="600">
    <div class="container">
        <div class="row">
            <img appRotate [grados]="grados" [step]="step" [style.width.px]="width" [src]="url" [alt]="alt">
            <p appRotate [grados]="grados" [step]="step" class="alt">{{alt}}</p>
        </div>
        <div class="row2">
            <ul class="lista">
                <li *ngFor="let fotos of listaFotos | slice: startIndex : startIndex + itemsPage">
                    <img [style.border]="borderImg(fotos)" [id]="fotos.id" (click)="view(fotos)" src="{{fotos.src}}" alt="{{fotos.title}}">
                </li>
            </ul>
            <section>
                <mat-button-toggle-group aria-label="Font Style">
                    <mat-button-toggle (click)="anteriorPag()">Page (-)</mat-button-toggle>
                    <mat-button-toggle (click)="siguientePag()">Page (+)</mat-button-toggle>
                    <!-- Resto de botones -->
                </mat-button-toggle-group>
            </section>
        </div>
        <div class="row3">
            <section>
                <mat-button-toggle-group aria-label="Font Style">
                    <mat-button-toggle (click)="anterior()" [disabled]="disableAnt">Anterior</mat-button-toggle>
                    <mat-button-toggle (click)="siguiente()" [disabled]="disableSig">Siguiente</mat-button-toggle>
                    <mat-button-toggle (click)="aumentar()">Aumentar</mat-button-toggle>
                    <mat-button-toggle (click)="disminuir()">Disminuir</mat-button-toggle>
                    <mat-button-toggle *ngIf="!goPlay" (click)="play()">Play</mat-button-toggle>
                    <mat-button-toggle *ngIf="goPlay" (click)="stop()">Stop</mat-button-toggle>
                </mat-button-toggle-group>
            </section>
        </div>
    </div>
</mat-grid-list>