/* You can add global styles to this file, and also import other style files */

.flex-grow {
    flex-grow: 1;
}

.username {
    margin-left: auto
}

mat-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}