<mat-grid-list cols="2" rowHeight="300">
    <mat-grid-tile>
        <img class="graph" src="../../assets/graph1.png" alt="Total orders">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="graph" src="../../assets/graph2.png" alt="New Customers">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="graph" src="../../assets/graph3.png" alt="Top Coupons">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="graph" src="../../assets/graph4.png" alt="Paying vs not paying">
    </mat-grid-tile>
</mat-grid-list>