<mat-grid-list cols="1" rowHeight="300">

    <mat-grid-tile>

        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput [(ngModel)]="username" name="username" required #usernameInput="ngModel">
                    <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                        <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
                    </div>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" name="password" required #passwordInput="ngModel">
                    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                        <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
                    </div>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Primary</button>

        </form>
    </mat-grid-tile>


</mat-grid-list>
<div class="row">
    <div *ngIf="spinVisible" class="spinner"></div>
</div>